<h1>БГУИР | post</h1>

<p>Привет <%= @user.name %>,</p>

<p>
Приветствуем, для активации вашего аккаунта нажмите на линк ниже:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>