<footer class="footer">
  <small>
    Приложение разработанное для дипломного проекта (c) <a href="https://vk.com/philippkolotov">Philipp Kolotov</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Главная",   root_path %></li>
      <li><%= link_to "О приложении",   about_path %></li>
      <li><%= link_to "Контакт", contact_path %></li>
      
    </ul>
  </nav>
</footer>